<ion-view view-title="Tarefário">
<ion-content>
<div class="fundo_tarefario">
	Sistema o2 <img src="img/logo_topo.png">
</div>
<div class="conteudo">
	<div class="lista_tarefas">
		<ul>
			<li>
				<a href="">
					<div class="dados_tarefa">
						#152
						#132456
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="dados_tarefa">
						#152
						#132456
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="dados_tarefa">
						#152
						#132456
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
</ion-content>
</ion-view>
