<IfModule mod_rewrite.c>
RewriteEngine On
#DirectoryIndex index.html index.php
RewriteCond %{HTTP_HOST} ^www\.(.*)
RewriteRule (.*) http://%1/$1 [R=301,L]
RewriteBase /mauricio/app_tarefario/Ionic-MySQL-master/Server/
 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
</ifModule>
